<section class="about">
  <h1>About me</h1>

  <div class="container">
    <img class="photo-right" src="./assets/images/uofg_logo.png" alt="">
    <div class="text-left">
      <h4 class="card-title">University of Glasgow ~ <i>BSc Computing Science (2015 - 2019)</i></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione id temporibus nisi repellat nostrum. Quaerat
        beatae, incidunt exercitationem amet debitis vitae hic dolorum possimus quo repudiandae nobis libero a
        veritatis!
      </p>
      <ul>
        <li>Hola</li>
        <li>few</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <img class="photo-left" src="./assets/images/uofg_logo.png" alt="">
    <div class="text-right">
      <h4 class="card-title">University of Glasgow</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione id temporibus nisi repellat nostrum. Quaerat
        beatae, incidunt exercitationem amet debitis vitae hic dolorum possimus quo repudiandae nobis libero a
        veritatis!
      </p>
    </div>
  </div>
</section>