<footer>
  <h5>Rafael Velazquez Martin &copy; 2018.</h5>
  <div class="social-media-icons">
    <a href="https://github.com/RafaelVelazquezMartin" target="_blank">
      <fa-icon id="github" [icon]="['fab', 'github']">
      </fa-icon>
    </a>
    <a href="">
      <fa-icon id="twitter" [icon]="['fab', 'twitter']" target="_blank"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/rafael-velazquez-martin/" target="_blank">
      <fa-icon id="linkedin" [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
  </div>
</footer>